<div class="headBody" >
    <div class="headArea">
        <!-- <div class="logo">
        </div> -->
        <img id="logo" src="..\assets\stock_images\WhatsApp Image 2024-12-16 at 6.40.22 PM.jpeg/" alt="">
      
        <!-- <img  id= "heroImg" src="..\assets\stock_images\katharina-roehler-1Oni4nNyvL0-unsplash.jpg" alt=""> -->
        <img  id= "heroImg" src="../assets/stock_images/senior-care-happy.jpg">
        
    </div>
    <br>
    <div class="navigation">
        <nav id="mainNav" >
            <a routerLink="/home">First Draft Design</a>
            <a routerLink="/secondDraft">Second Draft Design</a>
            <a>Login/ SignUp</a>
        </nav>

    </div> 
</div>
<!-- <br> -->