<script>
    function menuChange(){
        const navDisplay = document.getElementById("navMenu");
        const hamburger = document.getElementById("menu")
        navDisplay.setAttribute("display","block")
    }
</script>
<div class="headBody" >
    <div class="headArea">
        <div class="logo">
            <img id="logo" src="..\assets\stock_images\logo.png/" alt="">
            <!-- <img id="logo" src="..\assets\stock_images\WhatsApp Image 2024-12-16 at 6.40.22 PM.jpeg/" alt=""> -->
            <img id="heroImg" src="../assets/stock_images/senior-care-happy.jpg">
        </div>
      
        <!-- <img  id= "heroImg" src="..\assets\stock_images\katharina-roehler-1Oni4nNyvL0-unsplash.jpg" alt=""> -->
        
    </div>
    <!-- <br> -->
    <input class="navbutton" id="navbutton" type="checkbox"/>
    <label class="menu-icon" for="navbutton">
        <span class="navicon"></span>
    </label>
    <nav id="mainNav" class="mainNav" >
        <a routerLink="/">First Draft Design</a>
        <a routerLink="/secondDraft">Second Draft Design</a>
        <a>Login/ SignUp</a>
    </nav>
    <!-- <div class="navigation">
    </div>  -->
    <!-- <button id="menu" onclick="menuChange()">Button</button> -->
</div>
<!-- <br> -->
