.headBody{
    background-color: #d4d4d2;
    /* margin: -2.5px; */
    /* border: solid; */
}
.headArea{
    /* margin-left: -10px;
    margin-right: -10px; */
    /* border: solid; */
    margin: 0px 0px;
    /* background-color: #d4d4d2; */
    /* background-color: #FAEFD7; */
}


#logo{
    /* border: solid; */
    width: 40%; 
    margin:  0% 0% 0% 0%;
}



#heroImg{
    /* border:solid; */
    width: 48%;
    height: 50vh;
    margin: 0% 0% 0% 10%;
    border-radius: 10px;
}
#navbutton{
    display: none;
}

@media(max-width:576px){
    #heroImg{
        display: none;
    }
}

.heroImg img{
    /* border: solid; */
    height: 80%;
}
.navigation{
    display: none;
}

#navbutton{
    display: block;
}

#mainNav{
    /* margin: -5px; */
    /* border: solid; */
    /* background-color: #d4d4d2; */
}

#mainNav a{
    border: solid;
    margin-left: 40px;
    border-radius: 5px;
    border-style: none;
    /* background-color:#ffffff ; */
    /* background-color: #d4d4d2; */
    color: #c1283f;
    padding: 1.5px;
}

#mainNav a:hover{
    background-color: #dc6bf9;
    color: #000;
}