.midBody{
    /* background-color: #FAEFD7; */
    background-color: #d4d4d2;
    /* border: solid; */
    /* border-radius: 12px; */
    /* padding: 10px; */
    /* border: solid; */
    /* margin: -10px; */
}
.midscroll{
    display: flex;
    width: 50%;
    /* background-color: #FAEFD7; */
}

.introduction{
    /* border: solid; */
    display: flex;
    text-align: right;
}

.paragraph1{
    /* border: solid; */
    /* background-color:; */
    /* display:flex; */
}

.innerPara{
    /* display: flex; */
    /* border: solid; */
    margin: 20px;
}

.options {
    display: flex;
    /* align-self: center; */
    /* height: 40vh; */
    /* width: 45%; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    text-align: left;
    /* border: solid red; */
}

.optionsPack{
    /* background-color:  #c0c0c0; */
    background-image: linear-gradient(135deg, #ddd, #d4d4d2, #8e8e8e);
    /* box-shadow: 2.5px 5px 0px #8e8e8e; */
    border-radius: 15px;
    /* border: solid yellow; */
    /* height: 30%;  */
    width: 30%;
    margin: 2.5%;
}

.options h3{
    padding: 20px;
    justify-self: center;
    height: 25%;
}

.optionsPack ul{
    display: flex;
    flex-direction: column;
    /* border: solid blue; */
    /* margin: -10px; */
    /* width: 30%; */
}

.optionsPack ul li{
    /* background-color: #c1283f; */
    /* text-decoration: none; */
    /* border: solid; */
    /* margin: -10px; */
    display: flex;
    /* align-content: center; */
}

#rightPic{
    /* border: solid; */
    display: flex;
    border-radius: 10px;
    justify-self: right;
    height: 50vh;
    margin: 5% 10% 5%;
}

.lowerPara{
    display: flex;
    height: 50vh;
    /* border: solid yellow; */
    /* justify-content: center; */
    /* margin: 10% 5%; */
}


#reviewForm{
    flex-direction: column;
    text-align:left ;
    background: #dc6bf9;
    /* color:white;*/
    border-radius: 10px;
    height: 30%;
    width: 48%;
    padding: 2% 5%;
}

#reviewForm input{
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: none;
    height: min-content;
    width: 100%;
    margin: 0%;
}

#review{
    border-radius: 10px;
    width: 100%;
}

#reviewForm button{
    border: none; 
    border-radius: 5px;
    display: flex;
    justify-self: right;
}

.horizontalLine{
    border: solid lightgrey 0.5px;
    margin: 3%;
}

.pastReviews{
    border: solid;
    display: flex;
    /* width: 48%; */
    font-size: 12px;
}

.postedReview{
    /* border: solid; */
    /* background-color: #c1283f; */
    background-color: #DC6BF9;
    border-radius: 5px;
    margin: 0% 2.5% 0% 2.5%;
}

.postedReview p{
    padding: 5px;
    text-align: left;
    font-size:75%;
    /* color:#d4d4d2; */
}

.customerApplication{
    display: block;
    width: 70%;
    margin: auto;
    /* border: solid; */
    /* background-color: #c1283f; */
    background-color: #DC6BF9;
    justify-items:center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
/* background-color: #FAEFD7; */

.customerApplication form{
    width: 70%;
    flex-flow: column;
    margin: auto;
    /* border: solid; */
}

.customerApplication form button{
    background-color: #c1283f;
    border: none;
    border-radius: 5px;
    width: fit-content;
    color: #ffff;
}

.wardApplication{
    /* display:none; */
    width: 70%;
    margin: auto;
    /* border: solid; */
    background-color: #dc6bf9;
    justify-items:center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.wardApplication form{
    /* display: none; */
    width: 70%;
    flex-flow: column;
    margin: auto;
    /* border: solid; */
}

.wardApplication form button{
    /* background-color: #dc6bf9; */
    background-color: #c1283f;
    color: #ffff;
    border: none;
    border-radius: 5px;
    width: fit-content;

}

.inputData{
    display: flex;
    justify-content: center;
    margin: 1% 5%;
    /* border: solid; */
}

.inputData label{
    background-color: #dc6bf9;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    width: 40%;
    text-align: center;
}

.inputData input{
    border-radius: 8px;
    border: none;
    width: 60%;
}

.map{
    display: flex;
    justify-content: center;
    /* border: solid; */
    width: 60%;
    margin: auto;
    padding: 2.5%;
    background-color: #dc6bf9;
    border-radius: 30px;
}

h2 a{
    margin: auto;
    display: flex;
    width: fit-content;
    background-color: #c1283f;
    color: #d4d4d2;
    font-size: x-large;
    padding: 1% 2%;
    border-radius: 10px;
}

h2 a:hover{
    background-color: #dc6bf9;
    color: #c1283f;

}

@media (max-width:576px) {    
        .midScroll{
            margin-top: 10vh;
        }
        .introduction{
            /* border: solid; */
            display: block;
        }
        .paragraph1{
            /* border: solid; */
        }
        .pastReviews{
            display: block;
            width: 80%;
        }
        #rightpic{
            position: fixed;
        }
}

@media (max-width:981px){

    .introduction{
        /* border: solid; */    
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lowerPara{
        display: block;
        /* margin: auto; */
        /* width: 98vw; */
        /* border: solid; */
        /* justify-items: center; */
    }

    #reviewForm{
        /* background-color: #c1283f; */
        margin: auto;
        /* border: solid; */
        display: flex;
        /* margin-top: 3%; */
        width: 80vw;
    }

    .options{
        display: block;
        width: 100%;
    }

    .optionsPack{
        margin: auto;
        width: 98%;
    }

    .horizontalLine{
        display: none;
    }

    #rightPic{
        display: flex;
        border-radius: 10px;
        justify-self: center;
        height: 300px;
        /* width: 50vw; */
        margin: auto;
        margin-top: 5%;
    }

    .customerApplication form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .wardApplication form{
        width: 100%;
    }
}
