.midscroll{
    display: flex;
    width: 50%;
    border: solid;
}

.introduction{
    display: flex;
    text-align: right;
}

.paragraph1{
    display:flex;
}

.innerPara{
    display: flex;
    margin: 10px;
}

#rightPic{
    display: flex;
    border-radius: 10px;
    justify-self: right;
    height: 50vh;
    margin: 5% 10% 5%;
}

.lowerPara{
    display: flex;
}

#reviewForm{
    flex-direction: column;
    text-align:left ;
    background: #dc6bf9;
    color:white;
    border-radius: 10px;
    height: 30%;
    width: 48%;
    padding: 2% 5%;
}

#reviewForm input{
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: none;
    height: min-content;
    width: 100%;
    margin: 0%;
}

#review{
    border-radius: 10px;
    width: 100%;
}

#reviewForm button{
    border: none; 
    border-radius: 5px;
    display: flex;
    justify-self: right;
}

.horizontalLine{
    border: solid lightgrey 0.5px;
    margin: 3%;
}

.pastReviews{
    width: 48%;
    font-size: 12px;
}

.postedReview{
    background-color: #c1283f;
    border-radius: 5px;
    margin: 0% 0% 2.5% 0%;
}

.postedReview p{
    padding: 5px;
    text-align: left;
    color:#d4d4d2;
}

.customerApplication{
    display: block;
    width: 70%;
    margin: auto;
    /* border: solid; */
    background-color: #c1283f;
    justify-items:center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.customerApplication form{
    width: 70%;
    flex-flow: column;
    margin: auto;
    /* border: solid; */
}

.customerApplication form button{
    background-color: #dc6bf9;
    border: none;
    border-radius: 5px;
    width: fit-content;

}

.wardApplication{
    /* display:none; */
    width: 70%;
    margin: auto;
    /* border: solid; */
    background-color: #c1283f;
    justify-items:center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.wardApplication form{
    display: none;
    width: 70%;
    flex-flow: column;
    margin: auto;
    /* border: solid; */
}

.wardApplication form button{
    background-color: #dc6bf9;
    border: none;
    border-radius: 5px;
    width: fit-content;

}

.inputData{
    display: flex;
    justify-content: center;
    margin: 1% 5%;
    /* border: solid; */
}

.inputData label{
    background-color: #dc6bf9;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    width: 40%;
    text-align: center;
}

.inputData input{
    border-radius: 8px;
    border: none;
    width: 60%;
}

.map{
    display: flex;
    justify-content: center;
    /* border: solid; */
    width: 60%;
    margin: auto;
    padding: 2.5%;
    background-color: #c1283f;
    border-radius: 30px;
}

h2 a{
    margin: auto;
    display: flex;
    width: fit-content;
    background-color: #c1283f;
    color: #d4d4d2;
    font-size: x-large;
    padding: 1% 2%;
    border-radius: 10px;
}

h2 a:hover{
    background-color: #dc6bf9;
    color: #c1283f;

}

@media (max-width:981px){
    

    .introduction{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lowerPara{
        display: block;
        /* margin: auto; */
        width: 98vw;
        /* border: solid; */
        justify-items: center;
    }

    #reviewForm{
        /* background-color: #c1283f; */
        margin: auto;
        border: solid;
        display: flex;
        /* margin-top: 3%; */
        width: 80vw;
    }

    .pastReviews{
        width: 80%;
    }
    .horizontalLine{
        display: none;
    }

    #rightPic{
        /* display: flex; */
        border-radius: 10px;
        justify-self: center;
        /* height: 50vh; */
        /* width: 50vw; */
        margin: auto;
        margin-top: 5%;
        /* mar */
    }

    .customerApplication form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .wardApplication form{
        width: 100%;
    }
}
