/* You can add global styles to this file, and also import other style files */
body{
  background-color: #d4d4d2;
    /* background-color: #FAEFD7; */
}
@media (max-width:576px){
    body{
        display: block;
        flex-direction: column;
        margin: -3% -3%;
        /* width: 100%; */
    }
    .background{

      margin: 0px 0px 0px 0px;
      /* border: solid; */
    }
}

/* .noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;a             
    font-variation-settings:
      "wdth" 100;
  } */
  /* * {
    font-family: 'Markazi Text';
    font-weight: 400;
  }

  @supports (font-variation-settings: "wght" 450) {
    * {
      font-family: 'Markazi Text';
      font-weight: 450;
    } 
  }*/